<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pagamentos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
      <button ion-item *ngFor="let item of itens" (click)="itemTapped($event, item.titulo)">
        <ion-icon [name]="item.icone" item-left></ion-icon>
        {{item.titulo}}
      </button>
    </ion-list>
    <div *ngIf="itemSelecionado" padding>
      Você selecionou <b>{{itemSelecionado}}</b>
    </div>
  </ion-content>
